*{
    margin: auto;
}
.mainbody{
    background-image: url(../assets/back.jpg);
    height: 1080px;
    background-position: center;
}
header{
    background-color: #FFACFC;
    width: 100%;
    margin: 0;

}
nav ul{
    background-color: #F148FB;
    position: relative;
    top: 10px;
    height: 10%;
    z-index: inherit;
    transition:height 0.3s;
    text-align: right;
}
ul li{  
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
    margin-top: 10px;
    padding: 0;
}
li a { 
    color: #01FFFF;
    font-size: 30px;
}
li a:hover{
    background-color: #7122FA;;
}
h1{
    height: 100px;
    width: 1000px;;
    text-align: center;
    transform: translate(0%, 400%);
}
section{
    
}
p{
   font-size: 50px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-decoration-color: lawngreen; 
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.sub-body{
    background-image: url(../assets/neoncity.jpg);
    height: 600px;
}
.Blog-subbody{
    display: inline;
    text-align: center;
}
